<div class="normal-box">
    <h1>Sass: CSS With Superpowers</h1>
    <p class="center">This small project was made to learn some of the fundamentals of Sass.
      Visit <a target="_blank" href="https://sass-lang.com/" rel="noopener noreferrer">sass-lang.com</a> to learn more.</p>
    <p class="center remBttm">Visit my <a href="https://github.com/bradseverance/sass" target="_blank" rel="noopener noreferrer">github project</a> for this page to see how I constructed the less files.
    The less files are <a href="https://github.com/bradseverance/less/tree/master/public/stylesheets" target="_blank" rel="noopener noreferrer">here.</a></p>
  </div>

  <div class="normal-box">
    <h1>Box Mixin With No Vars</h1>
    <p class="remBttm">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
  </div>

  <div class="green-box">
    <h1>Box Mixin &amp; Passing in Some Vars</h1>
    <p class="remBttm">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
  </div>

  <div class="orange-box">
    <h1>Box, Head, &amp; Pgraph Mixins &amp; Some Nesting</h1>
    <p class="remBttm">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
  </div>

  <div class="div-left normal-box">
    <h1>Nesting Media Queries</h1>
  </div>

  <div class="div-right green-box">
    <p class="remBttm">Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>
  </div>

  <div class="clear"></div>
  
  <div class="image-box">
    <h1>Looping &amp; Variable Interpolation</h1>
    <div id="kitties">
      {{#each arrKitty}}
        <div class="kitty"> 
          <a href="{{this}}" target="_blank">          
            <div></div>
          </a>
        </div>
      {{/each}}
      <div class="clear"></div>
    </div>
  </div>

</div>
