// colors
$backColor: #fef8e6;
$textColor: #444444;
$linkColor: #3090a1;
$redColor: #bc5148;
$orangeColor: #bc6f48;
$greenColor: #abbc48;
$lgrayColor: #dedede;

// path for kitty images
$kittyImgs: "../images/funny/cute/kitties/";

// fonts
$smallFont: 'Lato', helvetica, arial, sans-serif;
$bigFont: 'Oswald', sans-serif;

// spacing
@mixin mBttm() { 
  margin-bottom: 15px;
}

// remove bottom margin
@mixin rmBttm() {
  margin-bottom: 0px !important;
}
