@import "fonts_colors";
@import "divs_headers";

// some basic stuff
html, body, div, span, object, iframe, h1, h2,
h3, h4, h5, h6, p, blockquote, pre, abbr, address,
cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu,
nav, section, summary, time, mark, audio, video {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

// more basic stuff
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display:block;
}

html, body {
	background: $backColor;
	font-family: $smallFont;
	color: $textColor;
	line-height: 1.5em;
}

#body-div {
  width: 90%;
	max-width: 800px;
	background: $backColor;
	margin: 30px auto;
}

.clear {
  clear: both;
}

.normal-box {
  @include box();
}

.green-box {
  @include box($greenColor, 4px, 10px)
}

.orange-box {
  @include box($linkColor, 7px, 5px);

  p {
    @include pgraph(1.1em, $linkColor)
  }

  h1 {
    @include head(1.8em, $redColor, left)
  }
}

.image-box {
  @include box($linkColor, 5px, 5px);

  p {
    @include pgraph()
  }

  h1 {
    @include head(1.8em, $redColor)
  }
} 

.center {
  text-align: center;
}

h1 {
  @include head()
}

p {
  @include pgraph()
}

.remBttm {
  @include rmBttm();
}

a, a:hover, a:visited {
  color: $linkColor;
  text-decoration: underline;
}

.div-left {
  float: left;
  width: 25%;
  
  @media all and (max-width: 601px) {
    float: none;
    width: unset;
  }
}

.div-right {
  float: right;
  width: 63%;
  
  @media all and (max-width: 601px) {
    float: none;
    width: unset;
  }

}

pre {
  font-family: monospace;
}

// kitties!
#kitties {
  width: 100%;

  .kitty {

    margin: 0 5px 5px 0;
    float: left;

    a div {
      width: 200px;
      height: 200px;
      background-size: contain;
    }

  }

  // create kitties
  @for $i from 1 through 6 {
    .kitty:nth-child(#{$i}) {
      a div {        
        background-image: url("#{$kittyImgs}kitty#{$i}.png");
      }      
    }
  }

}